<div class='footer'>
  <div class='footer-contents'>
      <%= link_to  "お問い合わせ", "#", class: 'footer-content-head' %>
      <%= link_to  "利用規約", "#", class: 'footer-content-head' %>
      <%= link_to  "ヘルプ", "#", class: 'footer-content-head' %>
    </div>
  </div>
</div>
